body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    height: 100vh;
}

.tw-followCard-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}